.body html .container{
	height: 100%;
}
.container{
	width: 100%;
	padding: 0;
	margin: 0;
}

.row{
	margin: 0;
	padding: 0;
}
a{
	padding: 5%;
	font-size: 21px;
}

nav{
	padding: 4.5% 0;
}

 img{
 	width: 100%;

}

.logo{
	width: 60%;
	margin: 0 auto;
 	font-size: 0px;

}

 .col-2, .col-10{
 	padding: 0;
 	margin: 0;
 }

 .contenido img{
 	height: 100%;

 }
 .contenido{
 	height: 600px;
 }
 .texto{
 	padding: 7% 21%;
	text-align: center;
	font-size: 26px;
	background-color: #E0E0E0;
	color: gray;
 }

 .foto {
 	width: 200px;
 	margin: 0 auto;
 	padding-top: 7%;
 }

 .foto1 {
  width: 200px;
  margin: 0 auto;
  padding-top: 7%;
 }

 .ficha{
 	text-align: center;
 }

 .parrafo h1{
 	padding: 3%;
	font-size: 40px;
	color: gray;
	text-align: center;
 }

 .parrafo p{
 	padding: 1% 13%;
	font-size: 21px;
 }

 .fondo{
 	padding-top: 5%;
 	
 }

 .metodologia-contenido{
 	background-image: url(../recursos/Texturas/Metodologia.jpg);
 	height: 552px;
 	text-align: center;
	padding: 14% 0 0;
 }
 .icono img{
 	width: 68px;

 }
 .text h1{
 	padding: 3%;
	font-size: 40px;
	color: white;
	text-align: center;
 }
 .metodologia{
 	padding-top: 5%; 
 }

 .text  p{
 	padding: 1% 13%;
	font-size: 21px;
	color: white
 }
  .metodologia img{
  	height: 
  }
  .col-6{
  	padding: 0;
  	margin: 0;
  }
  .servicios{
  	padding: 1% 2%;
  }

  .servicios-contenido h1{
  	text-align: center;
  	padding: 4% 0 0;
  	font-size: 45px;
  }

  .servicios-contenido p{
  	text-align: center;
	padding: 2% 27%;
	font-size: 22px;
  }

  .letra h1{
  	padding: 2% 13%;
	font-size: 30px;
  }

  .letra p{
  	text-align: center;
	padding: 2% 16%;
	font-size: 20px;
  }

  .letra1 h1{
    padding: 5% 13%;
  font-size: 30px;
  }

  .letra1 p{
    text-align: center;
  padding: 2% 16%;
  font-size: 20px;
  }
  .col-4{
  	padding: 0;
  	margin:0;
  }

 .proyectos{
 	background-color: #5E8039;
 }
 .servicio{
 	padding: 5% 0;
 }

 .imagen{
 	width: 600px;
	margin: 0 auto;
	padding: 3% 0 5%;
 }
 .proyectos-subtitulo h1{
 	margin-left: 10%;
	color: white;
	font-size: 44px;
	padding-top: 4%;
  }

   .imagen-texto{
   	padding: 12% 0 0;
    text-align: center;
    color: white;
   }

   .imagen-texto span{
   	margin: 0 auto;
   	color: white;
   }
  
  .title h1 {
  	font-size: 38px;
  }
  .title h3{
    font-size: 20px;
  }

  .title{
  	text-align: center;
  	color: gray;
    padding: 5% 0 1%;
  }

  .content{
  	text-align: center;
	   padding: 2% 30%;
     font-size: 19px;
  }

  .foto2{
  	width: 40%;
  	border-radius: 45px;
  	margin: 0 auto;
  	padding-top: 6%;
  }

  .equipo-subtitulo{
  	margin-left: 10%;
    padding-top: -12%;
    padding-top: 4%;
    font-size: 27px;
    color: #5E8039;
  }

  .texto-parrafo{
    text-align: center;
    padding: 2% 23% 0;
    font-size: 22px;
    color: white;
  }

  .redes{
    width: 8%;
    float: left;
    padding: 4% 0.5% 0;
  }

  .redes-sociales{
    margin-left: 44%;
  
  }

.fondo-blog{
  background-image: url(../recursos/Texturas/Blog.jpg);
  height: 700px;
  }

.blog{
  padding: 6% 0 0;
}

.blog-imagen{
  width: 70%;
  margin: 0 auto;
  padding: 7% 0 0;
}

.blog-imagen img{
  height: 270px;
}

.blog-texto{
  padding: 4% 0 0 0;
  font-size: 27px;
  margin-left: 7%;
}

.blog-titulo {
  margin-left: 15%;
}

.blog-parrafo{
  padding: 4% 16%;
  font-size: 21px;
}

.blog-flecha1{
  width: 8%;
  margin-left: 88%;
}

.blog-flecha{
  width: 8%;
  margin-left: 4%;
}

.blog-title{
  padding: 9% 0 0;
  margin-left: 15%;
}
.siguenos{
  background-color: #4D4D4D;
  padding: 4% 13%;
}
.siguenos-borde{
  border: 2px solid white;
  margin: 4% 20%;
  height: 204px;
  width: 57%;
}
a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:#32CD32;
}

.col-3{
  padding:0;
  margin: 0;
}

.siguenos-contenido{
  border: 1px solid white;
  position: relative;
  height: 263px;

  }

  .siguenos-contenido1{
    border: 1px solid white;
    position: relative;
    height: 263px;
  }

.siguenos-logo{
 position: absolute;
  left: 75%;
  top: 71%;
}

.siguenos-titulo{
  font-size: 32px;
  
}
 .footer{
  background-color: #E0E0E0;
 }
 .footer-imagen{
  width: 20%;
 }

.footer-contenido{
  padding: 14%;
}

.footer-imagen{
  width: 26%;
  float: left;
}

.footer-parrafo span{
  font-size: 21px;
}

.footer-titulo {
  text-align: center;
  color: gray;
  padding: 5% 0 0;
}

.footer-parrafo {
  text-align: center;
}
.footer-parrafo p{
  margin-left: 40%;
}

.footer-parrafo1 a{ 
  color: orange;
}

.siguenos-contenido:hover{
  background-color: #228B22;
}

.siguenos-contenido1:hover{
  background-color: #3CB371
}
.siguenos-contenido a{
  color: white;
}
.siguenos-contenido1 a{
  color: white;
}

.siguenos-titulo a:hover{
  color: #00FF00;
}